/* - */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)  {
  /* Body */
  body {
    max-width: 320px;
    min-width: 480px;
  }
}

/* iPad in portrait & landscape */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
  /* Body */
  body {
    max-width: 1024px;
    min-width: 768px;
  }
}

/* iPad in landscape */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  /* Body */
  body {
    max-width: 1024px;
    min-width: 768px;
  }
}

/* iPad in portrait */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  /* Body */
  body {
    max-width: 1024px;
    min-width: 768px;
  }
}
