html,
body {
  font-family: Helvetica;
  font-size: 0.85em;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

/* Content Wrapper */
#content-wrapper {
  border: 1px dotted #fff;
  display: block;
  height: 96%;
  margin: 1%;
  padding: 0;
  width: 98%;
}
